body{
    padding: 0;
    margin: 0;
}
.pinterest-card{
    width: 468px;
    height: 470px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25vh;
    overflow:hidden;
    position:relative;
    border-radius: 20px;
    z-index: -1;
}
.pinterest-card img{
    
    width: 100%;
    height:100%;
    object-fit:cover;
}
.pinterest-card__overlay{
    position: absolute;
    width: 468px;
    height: 470px;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
    background-color:black;
    opacity: 15%;
}
.pinterest-card__save{
    position: relative;
    background-color: red;
    border-radius: 40px;
    bottom: 459px;
    left: 359px;
    width: 95px;
    height: 54px;
}
.pinterest-card__save span{
    position: relative;
    top: 11px;
    left: 23px;
    font-weight: bold;
    font-size: 18pt;
    color: white;
}
.pinterest-card__author{
    position: relative;
    background-color: white;
    border-radius: 40px;
    bottom: 150px;
    left: 16px;
    width: 147px;
    height: 72px;
    opacity: 87%;
}
.pinterest-card__DL{
    position: relative;
    background-color: white;
    border-radius: 40px;
    bottom: 220px;
    left: 171px;
    width: 75px;
    height: 72px;
    opacity: 87%;

}
.pinterest-card__more{
    position: relative;
    background-color: white;
    border-radius: 40px;
    bottom: 288px;
    left: 359px;
    width: 75px;
    height: 72px;
    opacity: 87%;
}
.fa-solid{
position: relative;
left: 29px;
top: 23px;
}